#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form form {
    background-color: antiquewhite;
    padding: 30px;
    margin-top: 50px;
    border-radius: 16px;
    box-shadow: 2px 2px;
}

#login-form h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

#login-form > p {
    margin-top: 30px;
}

#login-form > p button {
    color: blue;
    background: none;
    border: 0;
}

#login-form > p button:hover {
    cursor: pointer;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-input input {
    padding: 5px;
}

#form-error {
    margin: 0;
    margin-bottom: 15px;
    color: red;
}

#form-submit-button {
    display: flex;
    justify-content: center;
}

#form-submit-button button {
    padding: 5px 30px;
    border-radius: 4px;
    border-width: 1px;
}

#form-submit-button button:hover {
    cursor: pointer;
}